.edit-page{
  background: #f0ff87;
  padding-top: 0 !important;
  display: flex;
  height: inherit;

  .side-panel{
    position: relative;
    transition: margin-left 0.5s ease-in-out;
    height: 100%;
    z-index: 1;

    &--hidden {
      margin-left: -315px;
    }

    &__btn--default {
      border: 1px solid #8e838345;
      cursor: pointer;
      border-radius: 3px;
      background: white;

      transition: 0.3s ease-in-out all;

      &:hover {
        border-color: rgba(142, 131, 131, 0.66);
      }
    }

    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      height: 100%;
      padding: 10px 0;
      background: #bbc5e0;
      border-right: 3px solid #a0bfe6;
    }

    &__toggle {
      width: 30px;
      height: 54px;
      position: absolute;
      right: -30px;
      top: 10px;
      background: #6caeff9e;
      color: #5a5a5a;
      cursor: pointer;

      transform: scaleX(-1);

      .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;

        &:first-child {
          left: 5px;
        }
        &:last-child {
          right: 5px;
        }
      }

      &--on {
        transform: none;
      }
    }

    &__list {
      flex-grow: 1;
      border: 1px solid #5a7394f7;
      width: calc(100% - 40px);
      height: calc(100% - 218px);
      margin: 0 20px;
      border-radius: 3px;

      &--hidden {
        display: none;
      }
    }

    &__footer {
      width: 100%;
      height: 80px;
      padding: 20px;

      &--hidden {
        visibility: hidden;
      }
    }

    &__create {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      background: #47a743;
      cursor: pointer;
      transition: 0.3s ease-out all;

      &:hover {
        background: #4fce4a;
      }
    }


    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(35, 42, 104, 0.78);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(233, 244, 255, 0.53);
    }
  }
  .change-entity {
    height: 26px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .go-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
  }
  .search-entity {
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin: 10px 0 24px;

    &__input {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      padding: 0 30px 0 10px;
      border-radius: 3px;

      &::placeholder {
        opacity: 0.5;
      }
    }
    &__apply {
      width: 30px;
      height: 30px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;

      .icon {
        width: 75%;
        height: 75%;
      }
    }
  }

  .entity-block {
    position: relative;
    flex-grow: 1;
    background: #ecedf7;

    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      text-transform: capitalize;
      font-size: 7vh;
      background-color: #9c9999a6;
      color: transparent;
      text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      cursor: default;
    }
  }
}